@import "tailwindcss";

@theme {
    --color-dark-100: #0d0f12;
    --color-dark-200: #1a1d21;
    --color-dark-300: #24292f;
    --color-dark-400: #363a3d;
    --color-dark-500: #4b5055;
    --color-dark-600: #abb8c4;
    --color-dark-700: #c1c8d0;
    --color-dark-800: #dfe4e9;
    --color-dark-900: #f5f6f7;

    --color-light-100: #ffffff;
    --color-light-200: #f0f1f3;
    --color-light-300: #e0e2e5;

    --colors-green-500: #24ae7c;
    --colors-green-600: #1e8f6a;

    --colors-blue-500: #007bff;
    --colors-blue-600: #0056b3;

    --colors-red-500: #ff4d4f;
    --colors-red-600: #d9363e;
    --colors-red-700: #c41d1f;

    --colors-black-800: #0d0f12;
    --colors-black-900: #0a0c0e;

    --text-14-regular: 14px;
    --text-14-medium: 14px;
    --text-14-semibold: 14px;
    --text-16-regular: 16px;
    --text-16-medium: 16px;
    --text-16-semibold: 16px;
    --text-18-regular: 18px;
    --text-18-medium: 18px;
    --text-18-semibold: 18px;
    --text-20-regular: 20px;
    --text-20-medium: 20px;
    --text-20-semibold: 20px;
    --text-24-regular: 24px;
    --text-24-medium: 24px;
    --text-24-semibold: 24px;
    --text-32-regular: 32px;
    --text-32-medium: 32px;
    --text-32-semibold: 32px;
}

.copyright {
    @apply text-xs text-dark-500 text-center mt-4;
}

.remove-scrollbar {
    scrollbar-width: none;
    /* Firefox */
}

.remove-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}


.container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 bg-dark-200;
}

.sub-container {
    @apply mx-auto flex size-full flex-col gap-10 py-10;
}

.shadcn-input {
    @apply w-full pl-10 rounded-md border border-dark-300 bg-dark-200 px-3 py-2 text-sm text-dark-900 placeholder:text-dark-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500;
}

.shadcn-textarea {
    @apply w-full h-20 rounded-md border border-dark-400 bg-dark-200 px-3 py-2 text-sm text-dark-900 placeholder:text-dark-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500;
}

.shad-select-trigger{
    @apply w-full min-w-3xs rounded-md border border-dark-300 bg-dark-200 px-3 py-5 text-sm text-dark-900 placeholder:text-dark-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500;
}

.shad-select-content {
    @apply absolute z-100 mt-1 w-full min-w-3xs overflow-hidden rounded-md border border-dark-300 bg-dark-200 text-sm text-dark-900 shadow-lg;
}

.shadcn-input-icon {
    @apply absolute inset-y-0 left-2 top-1 rounded-full flex items-center pointer-events-none text-dark-500;
}

.shad-primary-btn {
    @apply inline-flex items-center justify-center rounded-md bg-teal-600 px-4 py-2 text-sm font-medium cursor-pointer text-white shadow-sm hover:bg-teal-700 active:scale-95;
}

.dummy-input {
    @apply w-full flex items-center gap-2 rounded-md border border-dark-300 bg-dark-100 px-3 py-2 text-sm text-dark-900 placeholder:text-dark-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500;
}

.request-details {
    @apply flex md:flex-row flex-col items-center justify-between gap-5 text-sm border-t border-t-dark-500/30 border-b p-2 border-b-dark-500/30;
}

/****************************************/
/************PHONE INPUT***************/

.PhoneInput {
  background-color: #1a1d21;
  border: 1px solid #3c4450;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.PhoneInputInput {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  width: 100%;
}

.PhoneInputCountry {
  background-color: #27272a; /* bg-zinc-800 */
  border-right: 1px solid #3f3f46;
}

.PhoneInputCountrySelect {
  background-color: #27272a;
  color: white;
  padding: 1rem; 
}

/* Optional: native select dropdown (for accessibility) */
.PhoneInputCountrySelect:focus {
  outline: none;
}


/****************************************/
/************CHECKBOX STYLES*************/
/****************************************/
.shad-checkbox-container {
  @apply flex items-start space-x-3 p-1;
}

.shad-checkbox {
  @apply h-4 w-4 rounded border-2 border-blue-400/20 text-blue-400 mt-0.5 cursor-pointer;
}

.shad-checkbox:checked {
  @apply border-blue-500;
}

.shad-checkbox-label {
  @apply text-xs font-medium text-dark-900 leading-5 cursor-pointer select-none flex-1;
}

.shad-checkbox-container:hover .shad-checkbox {
  @apply opacity-60;
}

.shad-checkbox:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.shad-checkbox:disabled + .shad-checkbox-label {
  @apply opacity-50 cursor-not-allowed;
}


/****************************************/
/************RADIO BUTTON STYLES***********/

.radio-group {
  @apply flex items-center gap-2 bg-dark-200 border border-dark-400 border-dashed  p-3 rounded-sm;
}

.radio-item {
  @apply h-4 w-4 rounded-full border-2 border-zinc-500 bg-white data-[state=checked]:bg-blue-500 data-[state=checked]:border-blue-500 transition-colors duration-200 cursor-pointer;
}

.radio-group label {
  @apply text-sm font-medium cursor-pointer;
}

/****************************************/
/************FILE UPLOAD STYLES***********/

.file-upload-wrapper {
  @apply relative flex flex-col items-center justify-center rounded-md border-2 border-dashed border-dark-300 bg-dark-100 p-6 text-dark-700 transition-all duration-300 hover:border-blue-500 hover:bg-dark-200;
}

.file-upload {
  @apply w-full min-w-3xs pl-10 rounded-md border border-dark-300 bg-dark-200 px-3 py-2 text-sm text-dark-900 placeholder:text-dark-500 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500;
}


.file-upload-icon {
  @apply mb-3 h-10 w-10 text-blue-500;
}

.file-upload-text {
  @apply text-sm flex items-center justify-center gap-2 text-dark-500;
}

.shad-error {
  @apply text-red-500 text-xs;
}

/***********************************/
/************Date Picker***********/

.appointment-details {
  @apply flex flex-col gap-3;
}

/*****************************************/
/*************OTP VERIFICATION***********/
.shad-otp {
  @apply flex justify-center gap-3 sm:gap-4 mt-4 mb-6;
}

.shad-otp-slot {
  @apply w-12 h-12 sm:w-14 sm:h-14 text-center text-lg font-semibold border border-zinc-700 bg-zinc-900 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 transition-all duration-150;
}

.admin-header {
  @apply flex items-center justify-between bg-dark-200 p-4 shadow-md;
}

.stats-card {
  @apply flex flex-col items-start gap-3 justify-center bg-dark-100 max-w-md text-white rounded-md p-6 shadow-lg border border-dark-400/50;
}


/****************************************/
/*************DATA TABLE***********/

.data-table {
  @apply w-full rounded-md bg-[#161616] shadow-md;
}

.shad-table {
  @apply w-full text-sm text-left text-dark-900 bg-dark-200 border border-dark-300;
}

.shad-table-row-header {
  @apply bg-black text-dark-900 border border-dark-300 font-semibold;
}

.shad-table-row {
  @apply border-b border-dark-300 bg-dark-200 text-dark-900 hover:bg-dark-300 transition-colors duration-200;
}

.table-actions {
  @apply flex items-center justify-between space-x-2 p-4;
}

.success-img {
  @apply flex flex-col items-center justify-center gap-2 p-4 rounded-md;
}

/*data-table: rounded-md shadow-md bg-[#161616] */
